/* .vitepress/theme/custom.css */
:root {
    --vp-c-brand-1: #fbe074;
    /* --vp-c-brand-2: rgb(207, 84, 62); */
    /* --vp-c-brand-3: #fbe074; */
    /* --vp-c-brand-soft: #fbe074; */

}

three-lunchbox {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 8px;
    overflow: hidden;
    background: var(--vp-code-block-bg);
}